html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}


header {
    color: #e5e7eb;
    display: flex;
    padding: 16px 16px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 892px;
    box-sizing: border-box;
}

.hero.section {
    max-width: 892px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section {
    padding: 0px 16px;
    width: 100%;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.links-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero {
    display: flex;
    gap: 24px;
    flex: 1 1 0;
}

.hero-text-buttons {
    display:flex;
    flex-direction: column
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 125%;
}

.hero p{
    font-size: 18px;
    color: #e5e7eb;
    line-height: 140%;
}

.information.section {
    background-color:#f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 112px;

}
.information-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.customer-quote.section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 96px;
    padding-bottom: 96px;
    gap: 16px;
}

.customer-quote p {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    max-width: 748px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    
}

.customer-quote.name {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    max-width: 748px;
}

button {
    background-color: #3882f9;
    color: #f9faf8;
    padding: 8px 24px;
    border-radius: 8px;
    border: 0;
    font-weight: 700;
}

h3 {
    color: #f9faf8;
}

.hero-text-buttons {
    flex: 1 1 50%;
}

.hero img {
    width: 400px;
    flex: 1 1 300px
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    max-width: 748px;
}

.card {
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: center;
    
}

.card-illustration {
    border-radius: 8px;
    height: 140px;
    width: 100%;
    border: 4px solid #3882f9;
}

.a {
    color: white;    
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cta.section {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.cta-container {
    display: flex;
    background-color: #3882f9;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex: 0 0 892px;
    max-width: 892px;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 0;
    padding-left: 80px;

    justify-content: center;
}

.cta p, .cta h3{
    color: #e5e7eb;
    margin-block-end: 0;
    margin-block-start: 0;
}

.ghost {
    border: 2px solid #e5e7eb;
}

footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

footer p {
    color: #f9faf8;
}